.polynomial{
	display: flex; 
}

.polynomialsummand{
	padding: 3px;
	align-items: center;
	display: flex; 
}

.rationalnumber{
	display: inline-block;
	color:green;
}

.floatnumber{
	color:red;
}

.polnomialsummand-outer{
	display:flex;
}

.rationalnumber-fractionline{
	height:1px;
	background-color:black;
}

.polnomialsummand-sign{
	align-items: center;
	display: flex; 
}

.result-outer{
	display: flex;
}

.result-lhs{
	align-items: center;
	display: flex;
}