.polynomial{
	display: inline-block;
}

.polynomialsummand{
	padding: 3px;
	align-items: center;
	display: inline-block; 
}

.rationalnumber{
	vertical-align: middle;
	display: inline-block;
	color:green;
}

.floatnumber{
	color:red;
	vertical-align: middle;
	display: inline-block;
}

.polnomialsummand-outer{
	display:inline-block;
}

.rationalnumber-fractionline{
	height:1px;
	background-color:black;
}

.polnomialsummand-sign{
	align-items: center;
	display: inline-block; 
}

.result-outer{
	display: flex;
}

.result-lhs{
	align-items: center;
	display: flex;
}

.systemoflinearequations{
	display: flex;
}

.systemoflinearequations td{
	padding: 10px;
}

.matrix-input-field{
	width: 50px;
	margin:5px;
}

.matrix{
	display: flex;
}

.matrix td{
	padding: 10px;
}